body{
    margin: 0;
    padding: 0;
    font-family: montserrat;

}


a{
    text-decoration: none;
}
h1{
    color: white;
}

p{
    color: #0E251B;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}
h3{
    color: white;
    font-size: 18px;
}
h4{
    color: white;
}
h2{
line-height: 30px;
margin: 0;
}


/* header nav */
nav{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #057644;
    align-items: center;
   z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

li{
margin-right: 10%;
}

.logo{
    margin: 10px;
    color: white;
}
.logo-foto{
    height: 70px;
}

.header-icoon{
    height: 40px;
}
/* header nav */

/* kolom-header */



.kolom1{
    background-image: url("fotos/header2.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding-right: 5%;
    padding-left: 5%;
}
.slogan{
color: white;
margin: 0;
}



/* kolom-header */


/* footer */
footer{
    background-color: #057644;
    padding: 20px 20px;
    position: static;
    bottom: 0;
}

.contactinfo{
    color: white;
    margin-top: 10px;
}

/* footer */


